<div>
    <%= @data %>
</div>

<img src="<%= image_path("c.jpg") %>" alt="그림1", height=579px, width=500px> 
<h1> 신이 나를 만들었을때! 뭘 넣었을까요??</h1>
<form action="/home/intro" method="get">
  
  <input type="text" name="name" value="이름을 적으면 결과가 나와요">
  
  <br>
  
  <input type="submit" value="결과보기">
  
</form>
<!--html form 태그 검색해서 찾기-->
